<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NHBaseFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DCB8A2881D36144800125D7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCB8A2A41D36144800125D7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCB8A2AF1D36144800125D7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
